<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<script th:fragment="createGradeBookJs" th:inline="javascript">
  /*<![CDATA[*/
  // Load dropzone library
  includeWebjarLibrary('dropzone');
  
  window.onload = function() {
	console.log('Entering..');
    Dropzone.options.dropzoneForm = {
    	    // do not change these values as the dropzone logic depends on these values
    	    autoProcessQueue: false,
    	    parallelUploads: 1,
    	    uploadMultiple: false,
    	    addRemoveLinks: true,
    	    maxFilesize: 5, // MB
    	    timeout: 0, // Dropzone 4.4.0 introduced a 30sec default timeout
    	    dictFallbackMessage: "msg1",
    	    dictFallbackText: "msg2",
    	    dictFileTooBig: "msg3",
    	    dictInvalidFileType: "msg4",
    	    dictResponseError: "msg5",
    	    dictCancelUpload: "msg6",
    	    dictCancelUploadConfirmation: "msg7",
    	    dictRemoveFile: "msg8",
    	    dictMaxFilesExceeded: "msg9",
    	    dictFolderUploadError: "msg10",

    	    init: function() {
    	        var dz = this;
    	        var status;
    	        var submitButton = document.querySelector("#gradebook-continue-button");

    	        this.on("removedfile", function() {
    	            if (!this.getQueuedFiles().length) {
    	                document.getElementById("gradebook-continue-button").disabled=true;
    	            }
    	        });

    	        this.on("complete", function(file) {
    	            var queuedFiles = this.getQueuedFiles();

    	            // don't process any more files if there is an error 
    	            if(queuedFiles.length > 0 && status === Dropzone.SUCCESS) {
    	                this.processFile(queuedFiles.shift());
    	            }
    	        });

    	        this.on("queuecomplete", function() {
    	            if(status === Dropzone.SUCCESS) {
    	                document.getElementById('addContentForm').submit();
    	            }
    	        });

    	        this.on("drop", function() {
    	            document.getElementById("gradebook-continue-button").disabled=false;
    	        });

    	        this.on("addedfile", function() {
    	            document.getElementById("gradebook-continue-button").disabled=false;
    	        });

    	        this.on("sending", function(file, xhr, formData) {
    	            var overwrite = document.querySelector('input[name="overwrite"]:checked').value;
    	            formData.append("overwrite",overwrite);
    	            formData.append("fullPath",file.fullPath);
    	        });

    	        this.on("error", function(file, message, xhr) {
    	            status = file.status;
    	            document.getElementById("gradebook-continue-button").disabled=true;
    	        });

    	        this.on("success", function(file, responseText, e) {
    	            status = file.status;
    	            file.previewTemplate.appendChild(document.createTextNode(responseText));
    	        });

    	        // Client side copyright check
    	        submitButton.addEventListener("click", function() {

    	            if (checkCopyright(submitButton))
    	            {
    	                dz.processQueue(); // Tell Dropzone to process all queued files.
    	            }
    	        });
    	    }
    	};
    
  }
  /*]]>*/
</script>
<script th:fragment="studentViewJs" th:inline="javascript">
  /*<![CDATA[*/
  var studentViewFunctions = {
		  
    showStudent: function () {
      var selectedParticipant = document.getElementById('selectedParticipant').value;
      document.getElementById('student_view_form').action;
      document.getElementById('student_view_form').action = document.getElementById('student_view_form').action+'/'+selectedParticipant;
      document.getElementById('student_view_form').submit();
    }
}
  /*]]>*/
</script>
</script>
<script th:fragment="indexJs" th:inline="javascript">
  /*<![CDATA[*/
  var indexFunctions = {
    checkSubmitButton : function () {
      var anyCheckboxEnabled = false;
      $(':checkbox').each(function() {
        if(this.checked) {
          $('#delete-groups-submit-button').attr('disabled', false);
          anyCheckboxEnabled = true;
        }
      });

      if(!anyCheckboxEnabled) {
        $('#delete-groups-submit-button').attr('disabled', true);
      }
    }

  }
  /*]]>*/
  </script>

</body>
</html>
