<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<script th:fragment="createGradeBookJs" th:inline="javascript">
  /*<![CDATA[*/
  // Load dropzone library
  includeWebjarLibrary('dropzone');
  
  window.onload = function() {
	console.log('Entering..');
    Dropzone.options.dropzoneForm = {
			 uploadMultiple: false,
		     maxFiles: 1,
		     acceptedFiles: '.csv',
		     accept: function(file, done) {
		       alert("uploaded");
		       done();
		     },
		     
		     init: function() {
		       this.on("maxfilesexceeded", function(file){
		           alert("No more files please!");
		       });
		       this.on("complete", function(file) {
		    	   dropzoneForm.removeFile(file);
		    	 });
		     }
		    
	};
    
  }
  /*]]>*/
</script>
<script th:fragment="studentViewJs" th:inline="javascript">
  /*<![CDATA[*/
  var studentViewFunctions = {
		  
    showStudent: function () {
      var selectedParticipant = document.getElementById('selectedParticipant').value;
      document.getElementById('student_view_form').action;
      document.getElementById('student_view_form').action = document.getElementById('student_view_form').action+'/'+selectedParticipant;
      document.getElementById('student_view_form').submit();
    }
}
  /*]]>*/
</script>
</script>
<script th:fragment="indexJs" th:inline="javascript">
  /*<![CDATA[*/
  var indexFunctions = {
    checkSubmitButton : function () {
      var anyCheckboxEnabled = false;
      $(':checkbox').each(function() {
        if(this.checked) {
          $('#delete-groups-submit-button').attr('disabled', false);
          anyCheckboxEnabled = true;
        }
      });

      if(!anyCheckboxEnabled) {
        $('#delete-groups-submit-button').attr('disabled', true);
      }
    }

  }
  /*]]>*/
  </script>

</body>
</html>
