<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head" />
<body>
  <div th:replace="fragments/common :: jQuery" />
  <div class="portletBody">
    <div id="menu" th:include="fragments/menus :: main (add)" />
      	<div class="page-header">
          <h1 th:text="#{create_update}"/></h1>
        </div>
        
<!--         	<h:panelGroup styleClass="alertMessage" rendered="#{PostemTool.displayErrors}"> -->
<!-- 				  <h:messages globalOnly="true" layout="table" /> -->
<!-- 			</h:panelGroup> -->

				<div class="instruction">
					<strong th:text="#{feedback_instructions}"/></strong><br />
					<div th:utext="#{feedback_first} + '<br>'+ #{feedback_second}  + '<br>'+  #{feedback_third}"></div>
				</div>
				
          <form id="form" th:action="@{/create_gradebook}" th:object="${autoGroupsForm}" method="post" enctype="multipart/form-data">
          			<br>
				      <div class="form-group row">
        					<div class="col-sm-2">
							<label for="gradeBookTitle" class="form-control-label" th:text="#{gradebook_title}">Title</label>
							</div>
							<div class="col-sm-4">
							<input name="gradeBookTitle" type="text" id="title"   />
							</div>
					 </div>
					 <br>
					<div class="form-group row">
        					<div class="col-sm-2">
							<label for="gradeBookFeedBackFile" class="form-control-label" th:text="#{feedback_title}">Feedback File</label>
							</div>
							<div class="col-sm-4">
							<a th:href="@{/processAddAttachRedirect}" accesskey="x" id="cancel-button" class="btn btn-default" th:text="#{gradebook_choosefile}">Choose a CSV file or URL from Resources</a>
							</div>
					</div>
					<br>
					<div class="form-group row">
        				<div class="col-sm-2">						
						<label for="gradeBookFeedBackAvail" class="form-control-label" th:text="#{gradebook_feedbackavail}">Feedback Availability</label>
						</div>
						<div class="col-sm-4">
						<input type="checkbox" name="gradeBookFeedBackAvail" id="title"/>
						<label for="gradeBookFeedBackAvail" class="form-control-label" th:text="#{release}">Release feedback to participants?</label>
						</div>
					</div>
					<br>	
			 <div class="act">
              <input accesskey="x" type="submit" class="active" id="gradebook-continue-button" th:value="#{bar_post}">
              <a th:href="@{/}" accesskey="x" id="gradebook-cancel-button" class="btn btn-default" th:text="#{cancel}">Cancel</a>
            </div>
			</form>
					
<script th:replace="fragments/javascript :: indexJs" />
</body>
</html>
